@model Movie
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Add New movie </h2>
            <hr />
        </div>
        @* <div asp-validation-summary="All" class="text-danger"></div> *@
        <div class="mb-3">
            <label asp-for="MovieName"></label>
            <input asp-for="MovieName" class="form-control" />  
            <span asp-validation-for="MovieName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Plot"></label>
            <input asp-for="Plot" class="form-control" />
            <span asp-validation-for="Plot" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ReleaseDate"></label>
            <input asp-for="ReleaseDate" class="form-control" />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Duration"></label>
            <input asp-for="Duration" class="form-control" />
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="control-label">Genre</label>
            <select asp-for="GenreId" class="form-control" asp-items="ViewBag.Genres">
                <option>--Select Genre--</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Movie" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
 
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}


